body {
    background-color: #FFF5E4;
    padding: 10px 30px 30px 30px;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 10px;
    width: 100px;
    border-color: #FFD1D1;
}

h1,
h3 {
    color: #FF9494;
}

.circular {
    border-radius: 100px;
}

.name {
    margin-top: -30px;
    font-size: 2.5em;
}

.developer {
    margin-top: -20px;
}